h1 {
  font-size: 3rem;
  justify-self: center;
}

.rows {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
}

.freeLancer {
  display: flex;
  align-items: space-around;
}

#app {
  justify-self: center;
}

paragraph {
  justify-self: center;
}
